{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block javascripts %}
    <script>


    </script>
{% endblock %}


{% block body %}
    <!-- ##########_First bloc Reservation_########## -->
    <div id="block-image-reservation">
        <img id="Image-Reservation-first" src="{{ asset('Directory/Image-Reservation-first.jpg') }}" alt="Image-Reservation-sport">
        <h2 id="mes">Mes</h2>
        <h2 id="reservation">Réservation...</h2>
    </div>


    <!-- ##########_Lst Reservation_########## -->
    <section>
        {% for lesson in lstLesson %}
            <div id="Block-lesson-reservation">
                <div id="Block-lesson-reservation-Date">
                    <p>
                        {{ lesson.start | date('H') }} h {{ lesson.start | date('i')}}
                        -
                        {{ lesson.end | date('H') }} h {{ lesson.end | date('i') }}
                    </p>
                </div>

                <p id="Block-lesson-reservation-name" style="color:{{ lesson.backgroundColor }};">{{ lesson.Name.Name }}</p>

                <div id="Block-lesson-reservation-info">
                    <div>
                        <p>{{ lesson.Participants|length }} / {{ lesson.NbPlace }}</p>
                        <p>{{ lesson.Coach }}</p>
                        <p>{{ lesson.location }}</p>
                    </div>

                    <a href="{{path('desist', {'lesson': lesson.id})}}">Se désinscrire</a>
                </div>
            </div>
        {% endfor %}
    </section>
    {% include 'Footer.html.twig' %}
{% endblock %}
