{{ form_start(form) }}

<div class="container-edit">

    {{ form_row(form.Name) }}
    {{ form_row(form.Start) }}
    {{ form_row(form.end) }}
    {{ form_row(form.NbPlace) }}
    {{ form_row(form.AllDay) }}
    {{ form_row(form.Location) }}
    {{ form_row(form.Coach) }}
    {{ form_row(form.background_color) }}
    {{ form_row(form.border_color) }}
    {{ form_row(form.text_color) }}
</div>
    <button  class="btn-show-save" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
