{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>NbPlace</th>
                <th>Background_color</th>
                <th>Day</th>
                <th>Border_color</th>
                <th>Text_color</th>
                <th>Coach</th>
                <th>Lieux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.Name }}</td>
                <td>{{ lesson.heureDebut ? lesson.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ lesson.HeureFin ? lesson.HeureFin|date('H:i:s') : '' }}</td>
                <td>{{ lesson.NbPlace }}</td>
                <td>{{ lesson.backgroundColor }}</td>
                <td>{{ lesson.Day}}</td>
                <td>{{ lesson.borderColor }}</td>
                <td>{{ lesson.textColor }}</td>
                <td>{{ lesson.coach }}</td>
                <td>{{ lesson.location }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson_new') }}">Create new</a>
{% endblock %}
