{% extends 'base.html.twig' %}

{% block title %}list des leçons{% endblock %}

{% block body %}
    <h1>list des leçons</h1>

    <table class="table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>NbPlace</th>
                <th>Background_color</th>
                <th>allday</th>
                <th>Border_color</th>
                <th>Text_color</th>
                <th>Coach</th>
                <th>Lieux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.Name.Name }}</td>
                <td>{{ lesson.start ? lesson.start|date('y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson.end ? lesson.end|date('y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson.NbPlace }}</td>
                <td>{{ lesson.backgroundColor }}</td>
                <td>{{ lesson.allDay}}</td>
                <td>{{ lesson.borderColor }}</td>
                <td>{{ lesson.textColor }}</td>
                <td>{{ lesson.coach }}</td>
                <td>{{ lesson.location }}</td>
                <td>
                    <a class="btn-action" href="{{ path('app_lesson_show', {'id': lesson.id}) }}">show</a>
                    <a class="btn-action" href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson_new') }}">Ajouter une leçon</a>
{% endblock %}
