{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}




{% block body %}

    <div id="AllPage-calendar">
        <!-- ##########_First bloc Planning_########## -->
        <div id="block-image-planning">
            <img id="Image-plannig-first" src="{{ asset('Directory/Image-plannig-first.png') }}" alt="Image-planning-sport">
            <h2 id="motive">Motivé ?</h2>
            <h2 id="go">GO !</h2>
        </div>

        <!-- ##########_Second bloc Planning_########## -->
        <a href="{{path('app_lesson_index')}}"> <h2 style="width:fit-content; color: white">Ajouter</h2></a>

        <table id="Table">
            <thead>
                <tr>
                    <th colspan="7" class="center">
                        {{ time|date('d M Y') }}
                    </th>
                </tr>
                <tr>
                    <th >Lundi</th>
                    <th >Mardi</th>
                    <th >Mercredi</th>
                    <th >Jeudi</th>
                    <th >Vendredi</th>
                    <th >Samedi</th>
                    <th >Dimanche</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Lundi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        <p class="Name">{{ lesson.Name }}</p>
                                        <p>Place: {{ lesson.NbPlace }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>

                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Mardi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        <p class="Name">{{ lesson.Name }}</p>
                                        <p>Place: {{ lesson.NbPlace }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>

                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Mercredi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        <p class="Name">{{ lesson.Name }}</p>
                                        <p>Place: {{ lesson.NbPlace }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>
                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Jeudi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        <p class="Name">{{ lesson.Name }}</p>
                                        <p>Place:{{ lesson.NbPlace }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>
                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Vendredi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        <p class="Name">{{ lesson.Name }}</p>
                                        <p>Place: {{ lesson.NbPlace }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>
                    <td>
                        Rien
                    </td>
                    <td>
                        Rien
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% include 'Footer.html.twig' %}
{% endblock %}


