{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous" >
     {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"> </script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                height: 820,
                initialView: 'timeGridWeek',
                hiddenDays: [0], //Cacher le dimanche 0=premier jour(dimanche)
                slotMinTime: '08:00:00', //Commencer à 8h
                slotMaxTime: '20:00:00', //finir à 20h
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next',
                    center: 'title,today',
                    end: 'dayGridMonth,timeGridWeek'
                },
                eventClick: function (info) {
                    //get object Json => lesson:
                    let obj1 = JSON.stringify(info.event.extendedProps);

                    let positionDebutPlace = obj1.search("place") + 7;
                    let positionDebutCoach = obj1.search("coach") + 8;
                    let positionDebutLocation = obj1.search("location") + 11;
                    let positionDebutParticipants = obj1.search("resaParticipants") + 18;
                    let positionDebutState = obj1.search("state") + 8;
                    let positionDebutUser = obj1.search("UserIsParticipant") + 19;

                    let positionFinPlace = (obj1.search("coach") - positionDebutPlace - 2);
                    let positionFinCoach = (obj1.search("location") - positionDebutCoach - 3);
                    let positionFinLocation = (obj1.search("resaParticipants") - positionDebutLocation - 3);
                    let positionFinParticipants = (obj1.search("state") - positionDebutParticipants - 2);
                    let positionFinState = (obj1.search("UserIsParticipant") - positionDebutState - 3);
                    let positionFinUser = 5;

                    document.querySelector('#modal-header').innerHTML = JSON.stringify(info.event.start).substr(12, 8) + " - " + JSON.stringify(info.event.end).substr(12, 8);
                    document.querySelector('#sport').innerHTML = info.event.title;
                    document.querySelector('#place').innerHTML = obj1.substr(positionDebutPlace,positionFinPlace);//place
                    document.querySelector('#coach').innerHTML = obj1.substr(positionDebutCoach,positionFinCoach);//coach
                    document.querySelector('#lieu').innerHTML = obj1.substr(positionDebutLocation,positionFinLocation);//location
                    document.querySelector('#participants').innerHTML = obj1.substr(positionDebutParticipants,positionFinParticipants);//participants
                    document.querySelector('#state').innerHTML = obj1.substr(positionDebutState,positionFinState);//state

                    //get value Bool => User is registered:
                    let UserParticipants = obj1.substr(positionDebutUser,positionFinUser);

                    //verify User is registered:
                    if (UserParticipants.localeCompare("false")){
                        document.querySelector('#btn-inscrire').innerHTML = "ce désinscrire";
                        document.querySelector('#btn-inscrire').style.background = 'red';
                        document.querySelector('#btn-inscrire').style.color = 'white';

                    }else {
                        document.querySelector('#btn-inscrire').innerHTML = "s'inscrire";
                        document.querySelector('#btn-inscrire').style.background = '#55af55';
                        document.querySelector('#btn-inscrire').style.color = 'black';

                    }
                    console.log(obj1);




                    // When the user clicks the button, open the modal
                    let modal = document.getElementById("modal");
                    modal.style.display = "block";
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true,
            })
            calendar.render()
        }
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}



{% block body %}
    <div id="AllPage-calendar">

        <!-- ##########_First bloc Planning_##########-->
        <div id="block-image-planning">
            <img id="Image-plannig-first" src="{{ asset('Directory/Image-plannig-first.png') }}" alt="Image-planning-sport">
            <h2 id="motive">Motivé ?</h2>
            <h2 id="go">GO !</h2>
        </div>

        {###################### test de react: ######################}
        <div {{ react_component('MyComponent', {'fullName': 'QuQU'}) }} style="color: #FFFFFF"></div>

        <!--###################################### Modal ######################################-->
        <div id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <span onclick="document.getElementById('modal').style.display='none'" id="close" title="Close Modal">×</span>
            <div id="modal-content">
                <div id="modal-header">
                    <h5 id="modal-title">Titre</h5>
                </div>
                <div id="modal-body">
                    <div class="container">
                        <div id="places">
                            <p id="participants">0</p>
                            <p>/</p>
                            <p id="place">0</p>
                        </div>
                        <p id="coach">0</p>
                        <p id="lieu">0</p>
                    </div>
                    <div class="container">
                        <div><p id="sport">Sport</p></div>
                    </div>
                    <div class="container container3">
                        <div><p id="state">0</p></div>

                        <button id="btn-inscrire" type="button" >S'inscrire</button>

                        {#
                        {%if app.user not in lesson.participants %}
                            <button> <a href="{{path('join', {'lesson': lesson.id})}}">S'inscrire</a> </button>
                        {%endif%}

                        {%if (app.user in lesson.participants) %}
                            <button>
                                <a href="{{path('desist', {'lesson': lesson.id})}}">Se désister</a>
                            </button>
                        {%endif%} #}

                    </div>
                </div>
            </div>
        </div>

        <!--#########################  Calendar ############################"-->
        <a href="{{path('app_lesson_new')}}"> <h2 style="width:fit-content; color: white">Ajouter une leçon</h2></a>

        <div id="calendrier"></div>
    </div>

    {% include 'Footer.html.twig' %}
{% endblock %}


