{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous" >
     {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"> </script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                hiddenDays: [0], //Cacher le dimanche 0=premier jour(dimanche)
                slotMinTime: '08:00:00', //Commencer à 8h
                slotMaxTime: '20:00:00', //finir à 20h

                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true,
            })
            calendar.render()
        }
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}





{% block body %}

    <div id="AllPage-calendar">
        <!-- ##########_First bloc Planning_########## -->
        <div id="block-image-planning">
            <img id="Image-plannig-first" src="{{ asset('Directory/Image-plannig-first.png') }}" alt="Image-planning-sport">
            <h2 id="motive">Motivé ?</h2>
            <h2 id="go">GO !</h2>
        </div>


        <!-- #########################  Calendar ############################"-->

        <div id="calendrier" style="width: 90%; margin: auto;">

        </div>

        <!-- #################################################################"-->





        <!-- ##########_Second bloc Planning_########## -->
        <a href="{{path('app_lesson_new')}}"> <h2 style="width:fit-content; color: white">Ajouter une leçon</h2></a>

       {#  <table id="Table">
            <thead>
                <tr>
                    <th colspan="7" class="center">
                        {{ time|date('d M Y') }}
                    </th>
                </tr>
                <tr>
                    <th >Lundi</th>
                    <th >Mardi</th>
                    <th >Mercredi</th>
                    <th >Jeudi</th>
                    <th >Vendredi</th>
                    <th >Samedi</th>
                    <th >Dimanche</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Lundi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <div class="Name/Heure">
                                            <div>
                                                <p class="Name">{{ lesson.Name }}</p>
                                                <a class="plusInfo" href="{{ path('app_lesson_show', { id : lesson.id}) }}">+ Information</a>
                                            </div>
                                            <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        </div>
                                        <div class="place">
                                            <p>{{lesson.Participants|length}} / {{ lesson.NbPlace }}</p>
                                        </div>

                                        <div class="Block-lesson-Btn">
                                            {%if app.user not in lesson.participants %}
                                                {% if not app.user %}
                                                    <button class="btnLesson">
                                                        <a  href="{{path('app_login')}}">S'inscrire</a>
                                                    </button>
                                                {% elseif app.user%}
                                                    <button class="btnLesson">
                                                        <a href="{{path('join', {'lesson': lesson.id})}}">S'inscrire</a>
                                                    </button class="btnLesson">
                                                {% endif %}
                                            {%endif%}

                                            {%if (app.user in lesson.participants) %}
                                                <button class="btnLesson" >
                                                    <a href="{{path('desist', {'lesson': lesson.id})}}">Se désinscrire</a>
                                                </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>

                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Mardi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <div class="Name/Heure">
                                            <div>
                                                <p class="Name">{{ lesson.Name }}</p>
                                                <a class="plusInfo" href="{{ path('app_lesson_show', { id : lesson.id}) }}">+ Information</a>
                                            </div>
                                            <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        </div>
                                        <div class="place">
                                            <p>{{lesson.Participants|length}} / {{ lesson.NbPlace }}</p>
                                        </div>

                                        <div class="Block-lesson-Btn">
                                            {%if app.user not in lesson.participants %}
                                                {% if not app.user %}
                                                    <button class="btnLesson">
                                                        <a  href="{{path('app_login')}}">S'inscrire</a>
                                                    </button>
                                                {% elseif app.user%}
                                                    <button class="btnLesson">
                                                        <a href="{{path('join', {'lesson': lesson.id})}}">S'inscrire</a>
                                                    </button class="btnLesson">
                                                {% endif %}
                                            {%endif%}

                                            {%if (app.user in lesson.participants) %}
                                                <button class="btnLesson" >
                                                    <a href="{{path('desist', {'lesson': lesson.id})}}">Se désinscrire</a>
                                                </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>

                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Mercredi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <div class="Name/Heure">
                                            <div>
                                                <p class="Name">{{ lesson.Name }}</p>
                                                <a class="plusInfo" href="{{ path('app_lesson_show', { id : lesson.id}) }}">+ Information</a>
                                            </div>
                                            <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        </div>
                                        <div class="place">
                                            <p>{{lesson.Participants|length}} / {{ lesson.NbPlace }}</p>
                                        </div>

                                        <div class="Block-lesson-Btn">
                                            {%if app.user not in lesson.participants %}
                                                {% if not app.user %}
                                                    <button class="btnLesson">
                                                        <a  href="{{path('app_login')}}">S'inscrire</a>
                                                    </button>
                                                {% elseif app.user%}
                                                    <button class="btnLesson">
                                                        <a href="{{path('join', {'lesson': lesson.id})}}">S'inscrire</a>
                                                    </button class="btnLesson">
                                                {% endif %}
                                            {%endif%}

                                            {%if (app.user in lesson.participants) %}
                                                <button class="btnLesson" >
                                                    <a href="{{path('desist', {'lesson': lesson.id})}}">Se désinscrire</a>
                                                </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>
                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Jeudi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <div class="Name/Heure">
                                            <div>
                                                <p class="Name">{{ lesson.Name }}</p>
                                                <a class="plusInfo" href="{{ path('app_lesson_show', { id : lesson.id}) }}">+ Information</a>
                                            </div>
                                            <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        </div>
                                        <div class="place">
                                            <p>{{lesson.Participants|length}} / {{ lesson.NbPlace }}</p>
                                        </div>

                                        <div class="Block-lesson-Btn">
                                            {%if app.user not in lesson.participants %}
                                                {% if not app.user %}
                                                    <button class="btnLesson">
                                                        <a  href="{{path('app_login')}}">S'inscrire</a>
                                                    </button>
                                                {% elseif app.user%}
                                                    <button class="btnLesson">
                                                        <a href="{{path('join', {'lesson': lesson.id})}}">S'inscrire</a>
                                                    </button class="btnLesson">
                                                {% endif %}
                                            {%endif%}

                                            {%if (app.user in lesson.participants) %}
                                                <button class="btnLesson" >
                                                    <a href="{{path('desist', {'lesson': lesson.id})}}">Se désinscrire</a>
                                                </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>
                    <td>
                        <section id="Calendar-section" >
                            {% for lesson in lessons%}
                                {% if lesson.Day == 'Vendredi' %}
                                    <div class="Lesson-Block" style="background-color: {{ lesson.backgroundColor }};">
                                        <div class="Name/Heure">
                                            <div>
                                                <p class="Name">{{ lesson.Name }}</p>
                                                <a class="plusInfo" href="{{ path('app_lesson_show', { id : lesson.id}) }}">+ Information</a>
                                            </div>
                                            <p class="heure">{{ lesson.heureDebut|date('H')}}h{{ lesson.heureDebut|date('i')}} - {{ lesson.heureFin|date('H') - lesson.heureDebut|date('H')}}h</p>
                                        </div>
                                        <div class="place">
                                            <p>{{lesson.Participants|length}} / {{ lesson.NbPlace }}</p>
                                        </div>

                                        <div class="Block-lesson-Btn">
                                            {%if app.user not in lesson.participants %}
                                                {% if not app.user %}
                                                    <button class="btnLesson">
                                                        <a  href="{{path('app_login')}}">S'inscrire</a>
                                                    </button>
                                                {% elseif app.user%}
                                                    <button class="btnLesson">
                                                        <a href="{{path('join', {'lesson': lesson.id})}}">S'inscrire</a>
                                                    </button class="btnLesson">
                                                {% endif %}
                                            {%endif%}

                                            {%if (app.user in lesson.participants) %}
                                                <button class="btnLesson" >
                                                    <a href="{{path('desist', {'lesson': lesson.id})}}">Se désinscrire</a>
                                                </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </td>
                    <td>
                        Rien
                    </td>
                    <td>
                        Rien
                    </td>
                </tr>
            </tbody>
        </table>#}
    </div>
    {% include 'Footer.html.twig' %}
{% endblock %}


