{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous" >
     {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"> </script>
    <script>
        let id;
        window.onload = () => {
            const calendarElt = document.querySelector("#calendrier")
            const calendar = new FullCalendar.Calendar(calendarElt, {
                height: 820,
                initialView: 'timeGridWeek',
                hiddenDays: [0], //Cacher le dimanche 0=premier jour(dimanche)
                slotMinTime: '08:00:00', //Commencer à 8h
                slotMaxTime: '20:00:00', //finir à 20h
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev',
                    center: 'today dayGridMonth,timeGridWeek',
                    end: 'next'
                },
                eventClick: function (info) {
                    //get object Json => lesson:
                    const Lesson = info.event.extendedProps;
                    const btnInscrire = document.querySelector('#btn-inscrire');
                    const btnDesinscrire = document.querySelector('#btn-desinscrire');

                    document.querySelector('#modal-header').innerHTML = JSON.stringify(info.event.start).substr(12, 8) + " - " + JSON.stringify(info.event.end).substr(12, 8);
                    document.querySelector('#sport').innerHTML = info.event.title;
                    document.querySelector('#place').innerHTML = Lesson.place;
                    document.querySelector('#coach').innerHTML = Lesson.coach;
                    document.querySelector('#lieu').innerHTML = Lesson.location;
                    document.querySelector('#participants').innerHTML = Lesson.resaParticipants;
                    document.querySelector('#state').innerHTML = Lesson.state;

                    console.log(info.event.start);

                    //******* Verify User Is Registered *********\\
                    if (Lesson.UserIsParticipant){
                        btnInscrire.style.display = "none";
                        btnDesinscrire.style.display = "block";
                    }else {
                        btnInscrire.style.display = "block";
                        btnDesinscrire.style.display = "none";
                    }

                    //******* Verify lesson Is closed/open *********\\
                    if(Lesson.state === 'Activity closed' ){
                        btnInscrire.disabled = true;
                        btnInscrire.style.backgroundColor = 'grey';
                        btnInscrire.style.cursor = 'not-allowed';
                        btnInscrire.title = 'Plus de place!';
                    }else{
                        btnInscrire.disabled = false;
                        btnInscrire.style.backgroundColor = '#55af55';
                        btnInscrire.style.cursor = 'default';
                    }

                    //get id for lesson:
                    id = info.event.id;

                    // When the user clicks the button, open the modal
                    const modal = document.getElementById("modal");
                    modal.style.display = "block";
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true,
            })
            calendar.render()
        }


        //####################### Function OnClick Btn############################\\

        //****** function inscription ******\\
        function FunctionInscription(){
            window.location.href = "join/" + id;
        }

        //****** function unsubscription ******\\
        function FunctionUnsubscription(){
            window.location.href = "desist/" + id;
        }
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}



{% block body %}
    <div id="AllPage-calendar" >

        <!-- ##########_First bloc Planning_##########-->
        <div id="block-image-planning">
            <img id="Image-plannig-first" src="{{ asset('Directory/Image-plannig-first.png') }}" alt="Image-planning-sport">
            <h2 id="motive">Motivé ?</h2>
            <h2 id="go">GO !</h2>
        </div>

        {###################### test de react: ######################}
{#<div {{ react_component('MyComponent', {'fullName': 'QuQU'}) }} style="color: #FFFFFF"></div>#}

        <!--###################################### Modal ######################################-->
        <div id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <span onclick="document.getElementById('modal').style.display='none'" id="close" title="Close Modal">×</span>
            <div id="modal-content">
                <div id="modal-header">
                    <h5 id="modal-title">Titre</h5>
                </div>
                <div id="modal-body">
                    <div class="container">
                        <div id="places">
                            <p id="participants"></p>
                            <p>/</p>
                            <p id="place"></p>
                        </div>
                        <p id="coach"></p>
                        <p id="lieu"></p>
                    </div>
                    <div class="container">
                        <div><p id="sport"></p></div>
                    </div>
                    <div class="container container3">
                        <div><p id="state"></p></div>
                        <button id="btn-inscrire" onclick="FunctionInscription()" type="button" >s'inscrire</button>
                        <button id="btn-desinscrire" onclick="FunctionUnsubscription()" type="button" >se désinscrire</button>
                    </div>
                </div>
            </div>
        </div>

        <!--#########################  Calendar ############################"-->
        <div id="calendrier"></div>
        </div>

    {% include 'Footer.html.twig' %}
{% endblock %}


