<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>

                function openAccountModal(){
                    // When the user clicks the button, open the modal
                    let modalAccount = document.getElementById("modalAccount");
                    modalAccount.style.display = "block";
                }



            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% block header %}
            <script>
                function openAccountModal(){
                    // When the user clicks the button, open the modal
                    let modalAccount = document.getElementById("modalAccount");
                    modalAccount.style.transitionDuration = "2s";
                    modalAccount.style.display = "initial";
                }
            </script>

                <ul id="nav-bar">

                    <a id="title" href="{{path('app_home')}}"> <h2>AssoSport</h2></a>


                    <div id="AllLink">
                        <li>
                            <a class="link-nav-bar" href="{{path('app_home')}}" title="Accueil">Accueil</a>
                        </li>
                        <li>
                            <a class="link-nav-bar" href="{{path('app_planning')}}" title="Planning">Planning</a>
                        </li>
                        {% if app.user%}
                            <li>
                                <a class="link-nav-bar" href="{{path('app_reservation')}}" title="Réservation">Mes Réservation</a>
                            </li>
                        {% endif %}
                    </div>

                    <div id="account-image" >
                        <img src="{{ asset('Directory/IconProfil.png')}}" alt="profil" id="img-profil" onclick="document.getElementById('modalAccount').style.display='block'">
                    </div>
                </ul>

            <div id="modalAccount">
                <span onclick="document.getElementById('modalAccount').style.display='none'" id="closeAccountModal" title="Close Modal">×</span>
                <div id="InformationProfile">
                    <img src="{{ asset('Directory/IconProfil.png')}}"  alt="profil" id="imgAccountProfile">
                    {% if app.user%}
                        <p id="">{{app.user.firstName}} {{app.user.lastName}}</p>
                        <p>{{ app.user.email }}</p>
                        <button id="btn-modifierProfile">Modifier le Profile</button>
                    {% endif %}
                </div>
                <div id="link-admin">
                    <a class="" href="{{path('app_lesson_index')}}" title="Liste des leçon">List des Lecons</a>

                    <a class="" href="{{path('app_coach')}}" title="List des coach">List des Coach</a>

                    <a class="" href="{{path('app_sport')}}" title="List des sports">List des Sports</a>
                </div>

                <a id="logout" href="{{path('app_logout')}}">Se Déconecter</a>
            </div>


                {# <div>
                    {% if app.user%}
                        <div id="BlockProfil">

                            <div>

                            </div>
                        </div>
                    {% else %}
                        <div id="BlockProfil">
                            <img src="{{ asset('Directory/IconProfil.png')}}" alt="profil" id="img-profil">
                            <div>
                                <a id="login" href="{{path('app_login')}}">Connection</a>
                            </div>
                        </div>
                    {% endif %}
                </div> #}
        {% endblock %}

        {% block body %}

        {% endblock %}
    </body>
</html>
