<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                function openAccountModal(){
                    // When the user clicks the button, open the modal
                    let modalAccount = document.getElementById("modalAccount");
                    modalAccount.style.display = "block";
                }
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}

            <ul id="nav-bar">
                <a id="title" href="{{path('app_home')}}"> <h2>AssoSport</h2></a>

                <div id="AllLink">
                    <li>
                        <a class="link-nav-bar" href="{{path('app_home')}}" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a class="link-nav-bar" href="{{path('app_planning')}}" title="Planning">Planning</a>
                    </li>
                    {% if app.user%}
                        <li>
                            <a class="link-nav-bar" href="{{path('app_reservation')}}" title="Réservation">Mes Réservation</a>
                        </li>
                    {% endif %}
                </div>

                {% if app.user%}
                    <div id="account-image" >
                        <img src="{{ asset('Directory/IconProfil.png')}}" alt="profil" id="img-profil" onclick="document.getElementById('modalAccount').style.display='block'">
                    </div>
                {% else %}
                    <div>
                        <a id="link-connection" href="{{path('app_login')}}" title="Se_Connecter">Se Connecter</a>
                    </div>
                {% endif %}
            </ul>

            {% if app.user%}
                <div id="modalAccount">

                    <span onclick="document.getElementById('modalAccount').style.display='none'" id="closeAccountModal" title="Close Modal">×</span>

                    <div id="InformationProfile">
                        <img src="{{ asset('Directory/IconProfile.png')}}"  alt="profil" id="imgAccountProfile">
                        {% if app.user%}
                            <p id="">{{app.user.firstName}} {{app.user.lastName}}</p>
                            <p>{{ app.user.email }}</p>
                            <button id="btn-modifierProfile" href="{{path('app_user_profile')}}"><a  href="{{path('app_user_profile')}}" style="color: #B0413E" >Modifier le Profil</a></button>
                        {% endif %}
                    </div>

                    <div id="link-admin">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="" href="{{path('app_lesson_index')}}" title="Liste des leçons">Liste des Leçons</a>

                            <a class="" href="{{path('app_coach')}}" title="Liste des coach">Liste des Coach</a>

                            <a class="" href="{{path('app_sport')}}" title="Liste des sports">Liste des Sports</a>

                        {% elseif is_granted('ROLE_USER') %}
                            <a class="" href="{{path('app_home')}}" title="Nous_Contacter">Nous Contacter</a>

                        {% endif %}
                    </div>

                    <a id="logout" href="{{path('app_logout')}}">Se Déconnecter</a>
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}
        {% endblock %}
    </body>
</html>
