{% extends 'base.html.twig' %}

{% block title %}Coach{% endblock %}

{% block body %}
    <h1>Coach</h1>

    <table class="table-info">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ coach.Name }}</td>
            </tr>
            <tr>
                <th>Sport</th>
                <td>
                    <ul>
                        {%for sport in sports %}
                            <li>{{ sport.name }} </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container-btn-show">
        <a class="btn-show-retour" href="{{ path('app_planning') }}">Retour</a>

        <a class="btn-show-save" href="{{ path('app_coach_edit', {'id': coach.id}) }}">edit</a>

        {{ include('coach/_delete_form.html.twig') }}
    </div>

{% endblock %}
